.container
{
    margin-left: auto;
    margin-right: auto;

    min-width: 730px;
    max-width: 820px;

    padding-top: 3px;
    padding-bottom: 10px;

    background-color: #929292;

    box-shadow: 0px 0px 10px #888888 inset;
    border: 1px solid #666666;
}

.title
{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

    min-width: 700px;
    max-width: 700px;

    font-size: 3em;
    color: #FFFFFF;
    font-family: monospace, Arial, Helvetica, sans-serif;
    text-align: center;
}

.subtitle
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    min-width: 700px;
    max-width: 700px;

    font-size: 2em;
    color: #FFFFFF;
    font-family: monospace, Arial, Helvetica, sans-serif;
    text-align: center;
}

.menu
{
    margin-left: auto;
    margin-right: auto;

    min-width: 310px;
    max-width: 600px;

    text-align: center;
}

.menu a
{
    display: block;

    min-width: 100px;
    max-width: 100px;

    padding-top: 5px;
    padding-bottom: 5px;

    font-family: monospace, Arial, Helvetica, sans-serif;
    font-weight: bold;

    color: #FFFFFF;

    text-align: center;

    text-decoration: none;
    text-transform: lowercase;
}

a
{
    color: #8844ff;
}

a:link, a:visited
{

}

a:hover, a:active
{
    color: #700060;
}

.content
{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    min-width: 680px;
    max-width: 680px;

    color: #FFFFFF;
    font-family: monospace, Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    text-align: justify;
}
.content a
{
	color: #FFFFFF;
}
.content a:hover 
{
	color: #000000;
}
#title
{
    margin-left: 0px;

    font-size: 3em;
    font-family: monospace, Arial, Helvetica, sans-serif;

    color: #FFFFFF;
}
#tblog
{
    margin-left: 0px;

    font-size: 1.3em;
    font-family: monospace, Arial, Helvetica, sans-serif;

    color: #FFFFFF;
}


.vim
{
    text-align: right;
}

#infobox
{
    padding: 5px 10px 5px 10px;

    min-width: 510px;
    max-width: 510px;
    min-height: 63px;

    margin-left: auto;
    margin-right: auto;

    color: #FFFFFF;
    border: 1px solid #666666;

    background-color: #888888;
}

.workitem
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    min-width: 600px;
    max-width: 600px;

    min-height: 120px;
    max-height: 120px;

    border: 1px solid #666666;

    background-color: #888888;
}

.workimage
{
    margin-top: 5px;

    min-width: 100px;
    max-width: 100px;

    min-height: 100px;
    max-height: 100px;

    border: 3px solid #444444;

    float: left;
}

.workdescription
{
    margin-left: 20px;

    min-width: 460px;
    max-width: 460px;

    min-height: 120px;
    max-height: 120px;

    font-size: 0.9em;
    text-align: left;

    float: left;
}

.contact
{
    text-align: center;
}

.outlink
{
    color: #a3f2fb;
    text-decoration: none;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li
{
    float: left;
}

h2
{
    font-family: monospace, Arial, Helvetica, sans-serif;
}
